body {
    background-color: rgb(68, 68, 68);
    font-family: font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(234, 49, 234);
    
}

article p {
    text-align: center;
    color: white;
    margin-bottom: 80px;
}

.card-row {
    display: flex;
}

.card-row div {
    border: 2px dashed white;
    width: 30%;
    margin-right: 20px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.card-row h2 {
    color:rgb(234, 49, 234);
    border: 2px solid white;
    border-radius: 8px;
    width: 90%;
    padding: 5px 5px;
    background-color: white;
    position: absolute;
    top: -40px;
    left: 10px;
}

.card-row p {
    color: rgb(234, 49, 234);
    margin-top: 40px;
}

.card-row pre {
    color: white;
    border-radius: 10px;
    background: linear-gradient(
        rgb(102, 50, 102),
        rgb(168, 94, 157)
    );
    line-height: 1.5;
    font-size: 16px;
}