body {
    background-color: rgb(68, 68, 68);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(234, 49, 234);
    
}

article p {
    text-align: center;
    color: white;
    margin-bottom: 80px;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-row div {
    border: 2px dashed white;
    width: 30%;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

.card-row h2 {
    color:rgb(234, 49, 234);
    border: 2px solid white;
    border-radius: 8px;
    width: 90%;
    padding: 5px 5px;
    background-color: white;
    position: absolute;
    top: -40px;
    left: 10px;
}

.card-row p {
    color: rgb(234, 49, 234);
    margin-top: 40px;
}

.card-row pre {
    color: white;
    border-radius: 10px;
    background: linear-gradient(
        rgb(102, 50, 102),
        rgb(168, 94, 157)
    );
    line-height: 1.5;
    font-size: 14px;
    padding: 20px 0;
}

.linear-gradient {
    padding: 50px 0;
}

.trans-glow {
    padding: 10px 0;
}

.overlay {
    padding: 80px 0;
}

footer {
    text-align: center;
    color: rgb(234, 49, 234);
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .card-row div {
        width: 45%;
    }
  }

@media screen and (max-width: 576px) {
    .card-row div {
        width: 100%;
    }
  }